:root {
    --clr-dark: #222831;
    --clr-light: whitesmoke;
    --clr-accent1: #393E46;
    --clr-accent2: #00ADB5;
    --clr-accent3: #00FFF5;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }